/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */
.container {
  margin: 0 auto;
  width: 900px;
  padding: 30px;
  text-align: center;
}

h1 {
  padding-bottom: 20px;
  font-size: 50px;
}

p {
  padding-top: 20px;
}
